body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px; /* Added 'px' unit */
    background-color: #000000;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    color: rgb(255, 255, 255); /* Added semicolon */
    padding: 20px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; /* Added semicolon */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; /* Added semicolon */
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #f5f5f5;
}

nav ul li a:hover {
    color: #ddd;
}

section.box {
    background-color: #ffffff89;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #dddddd97;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 800px;
    text-align: left;
    margin-bottom: 40px;
    font-weight: 400;
}
